.container{
    display: flex;
    flex-direction: row;
    background-color: aqua;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.item{
    background-color: blue;
    padding: 20px;
    margin: 20px;
}